<% content_for :application do %>
<div class="row"> 
	<div>
		<div class="col-sm-12">
		   <iframe src="<%= @service.prometheus_counter_url %>" width="100%" height="300" frameborder="0"></iframe>
	    </div>
    </div>
</div>
<div class="row"> 
    <div>
        <div class="col-sm-12">
           <iframe src="<%= @service.prometheus_maxusetime_url %>" width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>
</div>


<div class="widget-container widget-trade boxed">
    <div class="inner">
        <h6 class="trade-location"><a style="outline: medium none;" hidefocus="true" href="#">Request Log</a></h6>
        	<% @tracking.each do |t| %>
        		<% 
        		if t.statuscode >= 500
        			@licolor="red"
        		elsif t.statuscode !=200 and t.statuscode < 500
        			@licolor="yellow"
        		end
        		%>
                <ul class="stats-data clearfix">
            		<li class="first <%= @licolor%>"><a style="outline: medium none;" hidefocus="true" href="#"><strong><%= t.statuscode %></strong><span><%= t.usetime./(1000) %> ms</span></a></li>
    				<li class="<%= @licolor%>"><a style="outline: medium none;" hidefocus="true" href="#"><span><%= t.url %></span><span><%= t.invoketime.localtime %></span></a></li>
    				<li class="last <%= @licolor%>"><a style="outline: medium none;" hidefocus="true" href="#"><strong><%= t.realclientip %></strong><span><%= t.location %></span></a></li>
                </ul>
            <% end %>
        
        <div class="clear"></div>
    </div>
</div>
<% end %>